pyinquirer==1.0.3
ansible<3.4

# for management/ilo provider
python-hpilo==4.4.3

# For Kubernetes cluster control
openshift==0.12.0

# For json query
jmespath==0.10.0

# For ipaddr filter
netaddr==0.8.0
