pyinquirer==1.0.3
ansible<2.10

# for dns/openwrt provider
dnspython==1.16.0

# for management/ilo provider
python-hpilo==4.3

# For Kubernetes cluster control
openshift==0.11.0

# For json query
jmespath==0.10.0

# For ipaddr filter
netaddr==0.7.20
