{% set kernel = 'rhcos/kernel' %}
{% set initrd = 'rhcos/initramfs.img' %}
{% set rootfs = pxelinux_kickstarts_content_server + '/rootfs.img' %}
{% set ign = pxelinux_kickstarts_content_server + '/' + pxelinux_kickstarts_host_role + '.ign' %}
{% set disk = pxelinux_kickstarts_install_disk %}

DEFAULT pxeboot
TIMEOUT 20
PROMPT 0
LABEL pxeboot
    KERNEL {{ kernel }}
    APPEND ip=dhcp rd.neednet=1 initrd={{ initrd }} nomodeset coreos.inst=yes coreos.inst.install_dev={{ disk }} coreos.live.rootfs_url={{ rootfs }} coreos.inst.ignition_url={{ ign }}

