- name: ensure the root user password is disabled
  user:
    name: root
    password_lock: true

- name: do not allow root ssh logins
  lineinfile:
    path: /etc/ssh/sshd_config
    line: PermitRootLogin no
    regexp: '#*\s*PermitRootLogin'
    firstmatch: true
  notify: restart sshd
