- name: create rhcos tftp directory
  file:
    path: /var/lib/tftpboot/rhcos
    state: directory
    mode: 0755

- name: download rhcos image checksums
  uri:
    url: "{{ rhcos_images_repo }}/sha256sum.txt"
    return_content: yes
    validate_certs: "{{ rhcos_images_https_validate }}"
  environment:
    HTTP_PROXY: "{{ rhcos_images_http_proxy }}"
    HTTPS_PROXY: "{{ rhcos_images_https_proxy }}"
    NO_PROXY: "{{ rhcos_images_noproxy }}"
  register: release_checksums
  changed_when: false

- name: build image list
  set_fact:
    download_images: "{{ lookup('template', 'images.yml.j2')|from_yaml }}"
  vars:
    images_to_download:
      - image: "{{ rhcos_images_initramfs }}"
        dest: /var/lib/tftpboot/rhcos/initramfs.img
      - image: "{{ rhcos_images_kernel }}"
        dest: /var/lib/tftpboot/rhcos/kernel
      - image: "{{ rhcos_images_rootfs }}"
        dest: /var/www/html/rootfs.img
      - image: "{{ rhcos_images_image }}"
        dest: /var/www/html/image.raw.gz

- name: download rhcos images
  get_url:
    url: "{{ item.url }}"
    dest: "{{ item.dest }}"
    checksum: "sha256:{{ item.checksum }}"
    mode: 0555
    validate_certs: "{{ rhcos_images_https_validate }}"
  environment:
    HTTP_PROXY: "{{ rhcos_images_http_proxy }}"
    HTTPS_PROXY: "{{ rhcos_images_https_proxy }}"
    NO_PROXY: "{{ rhcos_images_noproxy }}"
  loop: "{{ download_images }}"
  loop_control:
    label: "{{ item.dest }}"

- name: publish ignition files
  copy:
    src: "{{ item.src }}"
    dest: "/var/www/html/{{ item.dest }}"
    mode: 0555
  loop:
    - src: "{{ rhcos_images_bootstrap_ign }}"
      dest: bootstrap.ign
    - src: "{{ rhcos_images_master_ign }}"
      dest: master.ign
    - src: "{{ rhcos_images_worker_ign }}"
      dest: worker.ign
  loop_control:
    label: "{{ item.dest }}"
