#!/usr/bin/env ansible-playbook

- import_playbook: /app/playbooks/util_vm_facts.yml

- name: Configure Cluster Node DHCP records
  hosts: cluster
  gather_facts: no
  serial: 1

  roles:
    - name: dhcp

- name: Configure Management DHCP records
  hosts: cluster:!virtual:bastion_hosts
  gather_facts: no
  serial: 1

  roles:
    - name: dhcp
      dhcp_mac_address: "{{ mgmt_mac_address }}"
      dhcp_ip: "{{ mgmt_hostname }}"
      dhcp_name: "{{ inventory_hostname }}-mgmt"

- name: Configure extra DHCP records
  hosts: localhost
  gather_facts: no
  serial: 1

  vars:
    dns_domain: "{{ cluster_name }}.{{ cluster_domain }}"
    dns_reverse_domain: "{{ reverse_ptr_zone }}"

  tasks:
    - name: configure extra records
      include_role:
        name: dhcp
      vars:
        dhcp_name: "{{ node.name }}"
        dhcp_ip: "{{ node.ip }}"
        dhcp_mac_address: "{{ node.mac }}"
      loop: "{{ extra_nodes }}"
      loop_control:
        loop_var: node

