apiVersion: v1
baseDomain: "{{ openshift_installer_base_domain }}"
{% if openshift_installer_proxy %}proxy:
  httpProxy: "{{ openshift_installer_proxy_http }}"
  httpsProxy: "{{ openshift_installer_proxy_https }}"
  noProxy: "{{ ','.join(openshift_installer_proxy_noproxy) }}"
{% endif %}{% if openshift_installer_proxy_ca | length > 0 %}
additionalTrustBundle: |
{{ openshift_installer_proxy_ca | indent(4, first=True) }}
{% endif %}compute:
- hyperthreading: Enabled
  name: worker
  replicas: 0
controlPlane:
  hyperthreading: Enabled
  name: master
  replicas: {{ openshift_installer_control_plane | length }}
metadata:
  name: "{{ openshift_installer_cluster_id }}"
networking:
  clusterNetworks:
  - cidr: "{{ openshift_installer_cluster_cidr }}"
    hostPrefix: 24
  networkType: OpenShiftSDN
  serviceNetwork:
  - "{{ openshift_installer_service_cidr }}"
platform:
    none: {}
fips: {{ openshift_installer_fips_mode }}
pullSecret: '{{ openshift_installer_pull_secret }}'
sshKey: "{{ openshift_installer_ssh_key }}"
