[defaults]
inventory=/app/inventory.py
gather_subset = virtual
forks=10
roles_path=/app/roles
log_path=/data/ansible.log
show_custom_stats=yes

# configure search paths
callback_plugins=/app/lib/ansible/callback
filter_plugins=/app/lib/ansible/filter
# library=/app/plugins/modules
# lookup_plugins=/app/plugins/lookup

# configure output
stdout_callback=my_dense
callback_whitelist=timer,post_message,save_stats


[inventory]
enable_plugins=script
unparsed_is_failed=True
