- name: lookup kvm mac adress
  shell: >
    virsh domiflist --domain {{ inventory_hostname }} |
    tail -n2 |
    awk '{ print $5 }'
  delegate_to: "{{ hypervisor }}"
  become: yes
  register: dommac_lkp
  changed_when: no

- name: save mac address
  set_fact:
    mac_address: "{{ dommac_lkp.stdout }}"
