- name: get wan interface status
  shell: nmcli dev sh {{ router_wan_interface }}
  changed_when: false
  register: wan_int_raw

- name: parse wan interface status
  set_fact:
    wan_int_facts: "{{ wan_int_raw.stdout | from_yaml }}"

- name: get wan settings
  shell: nmcli con sh "{{ wan_int_facts['GENERAL.CONNECTION'] }}" | grep -v 802-3
  changed_when: no
  failed_when: no
  register: wan_check

- name: parse wan settings
  set_fact:
    wan_facts: "{{ wan_check.stdout | from_yaml }}"

- name: verify wan configuration
  shell: nmcli con mod "{{ wan_int_facts['GENERAL.CONNECTION'] }}" "{{ item.key }}" "{{ item.target }}"
  loop:
    - key: connection.zone
      target: external
    - key: ipv4.dns
      target: "{{ ','.join(['127.0.0.1'] + (router_dns_forwarders | json_query('[*].server'))) }}"
    - key: ipv4.ignore-auto-dns
      target: yes
    - key: connection.id
      target: faroswan
  when:
    - wan_facts[item.key] != item.target
  notify: restart networking
