- name: check for requirements
  assert:
    that:
      - ansible_os_family == 'RedHat' or
        ansible_os_family == 'CentOS'
      - ansible_distribution_major_version == '7' or
        ansible_distribution_major_version == '8'
    fail_msg: "Bastion host does not meet requirements"
    success_msg: "Bastion host meets requirements."

- name: Install required packages
  yum:
    name: tftp-server, syslinux
    state: installed

- name: Create TFTP config
  file:
    path: /var/lib/tftpboot/pxelinux.cfg
    state: directory
    mode: 0755
  notify:
    - restart tftp

- name: Copy over files needed for TFTP
  shell: "cp -a /usr/share/syslinux/* /var/lib/tftpboot"
  args:
    creates: /var/lib/tftpboot/syslinux.exe

- name: Generate pxe config files
  block:
  - name: Set the default tftp file
    template:
      src: default.j2
      dest: /var/lib/tftpboot/pxelinux.cfg/default
      mode: 0555
    notify:
      - restart tftp

- name: Starting PXE services
  service:
    name: tftp.socket
    enabled: yes
    state: started

- name: install httpd
  yum:
    name: httpd
    state: installed

- name: set httpd port
  lineinfile:
    line: Listen 8081
    regexp: ^Listen
    path: /etc/httpd/conf/httpd.conf

- name: configure selinux booleans for http
  seboolean:
    name: httpd_can_network_connect
    persistent: yes
    state: yes
  ignore_errors: yes

- name: deploy custom selinux te file for http
  copy:
    src: faros_http.te
    dest: /root/faros_http.te
  register: http_selinux

- name: compile custom selinux te file for http
  shell: >
    checkmodule -M -m -o "/root/faros_http.mod" "/root/faros_http.te" &&
    semodule_package -o "/root/faros_http.pp" -m "/root/faros_http.mod" &&
    semodule -i "/root/faros_http.pp"
  when: http_selinux is changed

- name: start http services
  service:
    name: httpd
    enabled: yes
    state: started

- name: open firewall ports
  firewalld:
    port: "{{ item }}"
    state: enabled
    permanent: yes
    immediate: yes
  loop:
    - 8081/tcp
    - 69/udp
