- name: enable ip forwarding
  command: sysctl -w net.ipv4.ip_forward=1

- name: restart faroswan
  shell: nmcli con up faroswan
  async: 120
  poll: 5

- name: restart faroslan
  shell: for int in $(nmcli --fields NAME con sh | grep faroslan); do nmcli con up $int; done
  async: 120
  poll: 5
