#!/usr/bin/env ansible-playbook

- import_playbook: /app/playbooks/util_vm_facts.yml

- name: create cluster encryption services
  hosts: bastion_hosts
  gather_facts: no
  become: yes

  roles:
    - name: tang
      tang_port: 8082

- name: create red hat coreos ignition files
  hosts: localhost
  gather_facts: no
  become: no

  roles:
    - name: openshift-installer
      openshift_installer_dir: /data/openshift-installer
      openshift_installer_cluster_id: '{{ cluster_name }}'
      openshift_installer_base_domain: '{{ cluster_domain }}'
      openshift_installer_control_plane: '{{ groups.control_plane }}'
      openshift_installer_ssh_key: '{{ lookup("file", ansible_ssh_private_key_file + ".pub") }}'
      openshift_installer_fips_mode: "{{ fips_mode }}"
      openshift_installer_cache_disk: "{{ cache_disk }}"
      openshift_installer_pull_secret: '{{ pull_secret | to_json }}'
      openshift_installer_version: "{{ lookup('ini', 'installer section=cluster file=/app/versions.ini') }}"
      openshift_installer_proxy: "{{ proxy }}"
      openshift_installer_proxy_http: "{{ proxy_http }}"
      openshift_installer_proxy_https: "{{ proxy_https }}"
      openshift_installer_proxy_noproxy: "{{ proxy_noproxy }}"
      openshift_installer_proxy_ca: "{{ proxy_ca }}"
      openshift_installer_tang_public_key: "{{ hostvars.bastion.tang_key }}"
      openshift_installer_tang_port: "8082"
      openshift_installer_tang_server: "{{ hostvars.bastion.ansible_host }}"

- name: create openshift installation source repositories
  hosts: bastion_hosts
  gather_facts: yes
  become: yes

  roles:
    - name: content-servers
    - name: rhcos-images
      rhcos_images_bootstrap_ign: /data/openshift-installer/bootstrap.ign
      rhcos_images_master_ign: /data/openshift-installer/master.ign
      rhcos_images_worker_ign: /data/openshift-installer/worker.ign
      rhcos_images_version: "{{ lookup('ini', 'rhcos section=cluster file=/app/versions.ini') }}"
      rhcos_images_kernel: "{{ lookup('ini', 'kernel section=cluster file=/app/versions.ini') }}"
      rhcos_images_initramfs: "{{ lookup('ini', 'initramfs section=cluster file=/app/versions.ini') }}"
      rhcos_images_rootfs: "{{ lookup('ini', 'rootfs section=cluster file=/app/versions.ini')  }}"
      rhcos_images_image: "{{ lookup('ini', 'image section=cluster file=/app/versions.ini')  }}"
      rhcos_images_http_proxy: "{{ proxy_http }}"
      rhcos_images_https_proxy: "{{ proxy_https }}"
      rhcos_images_noproxy: "{{ proxy_noproxy }}"
      rhcos_images_https_validate: "{{ proxy_ca == '' }}"

- name: create pxelinux kickstart files
  hosts: cluster
  gather_facts: no

  roles:
    - name: pxelinux-kickstarts
      pxelinux_kickstarts_pxe_server: "{{ groups.bastion_hosts.0 }}"
      pxelinux_kickstarts_content_server: "http://{{ hostvars[groups.bastion_hosts.0].ansible_host }}:8081"
      pxelinux_kickstarts_host_role: "{{ node_role }}"
      pxelinux_kickstarts_install_disk: "{{ install_disk }}"
      pxelinux_kickstarts_network_gateway: "{{ hostvars.lan.ansible_host }}"
      pxelinux_kickstarts_network_cidr: "{{ subnet_mask }}"
      pxelinux_kickstarts_network_nic: "{{ cluster_nic }}"
